@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;600&display=swap');

:root {
    direction:rtl;
}
$primary:#007cdc;
$secondary :#001344;
$color:#047fdd;
$grey:#a8aeb3;

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top:60px;
    margin-bottom: 60px;
    .product{
        width: 350px;
        p{
            color: $primary;
         
        }
        p:last-child{
            color: $grey;
        }
    }
}
.single{
    margin-top: 60px;
    .column1{
        flex: 3;
    }
}