@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;600&display=swap');

:root {
    direction:rtl;
}
$primary:#007cdc;
$secondary :#001344;
$color:#047fdd;
$grey:#a8aeb3;

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top:60px;
    margin-bottom: 60px;
    .product{
        width: 260px;
        img{
            width: 100%;
        }
        p{
            color: $primary;
         
        }
        p:last-child{
            color: $grey;
        }
    }
}
.single{
    
    margin-top: 60px;
    .column1{
        flex: 2;
        img{
            width: 100%;
        }
    }
    .column2{
        background: aliceblue;
        padding: 45px;
    }

    ul{
        margin: 20px 15px;
        // list-style: disclosure-closed;
        
        li{
            color: $grey;
        }

    }
    p{
        color: $secondary;
        font-size:  25px;
    }

    .about{
        margin: 50px 0;
        p{
           
            color: $grey;
            font-size:15px;
        }
        .column1{
            flex: 0 1 60%;
            
        }
    }

}