@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;600&display=swap');

:root {
    direction:rtl;
}
$primary:#007cdc;
$secondary :#001344;
$color:#047fdd;


*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Changa', sans-serif;
}
p{
    color: #a8aeb3;
}
h1{
    color: $secondary;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
  
    .logo {
      height: 65px;
  
      img {
        height: 100%;
      }
    }
    ul {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        li {
            list-style: none;
            color:$secondary;

        }
      }
}
a{
    text-decoration: none;
    color: inherit;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
h2{
    color: $primary;
}
.menu{
    gap: 40px;
    h3{
        font-weight: 400;
    }
}
.btn {
    display: inline-block;
    padding: 15px 22px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
  }
.btn-primary{
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  
    &:hover {
      color: #fff;
      background-color: $secondary;
      border-color: $secondary;
    }
}

.read{
    padding: 15px 30px;
font-size: 18px;
margin-top: 25px;
}
.main{
    margin-top: 60px;

    .section-title{
        font-size: 30px;
        line-height: 1.1;
        margin-bottom: 25px;
    }

        p{
            
            font-size: 17px;
        }
      }

      .row {
        display: flex;
        gap: 100px;
        align-items: center;
      }
      .column {
        flex: 1;}
.advantages {
    margin: 100px 0;
        .section-title{
        width: 100%;
        margin-bottom: 55px;
        p{
            width: 70%;
            text-align: center;
            margin: 0 auto;
            line-height: 1.1;
        }
    }
    h1{
        text-align: center;
        
        font-size: 40px;

    }
    .cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .card{
            background-color: white;
            border-radius: 1px;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 5px gray;
            margin: 0 20px;
        img{
            width: 80px;
        }
        p{
            color: #a8aeb3;
            font-size: 15px;
            text-align: center;
        }
    }
    }

    }
    .choose{
        margin-top: 70px;
        h3{
            color: $primary;
        }
      
        .paragraph{
            display: flex;
            gap: 20px;
            justify-content:center;
            margin: 14px;
            .first{
                background-color: $primary;
                padding: 10px 20px 10px 20px;
                border-radius: 8px;
                color: #FFF;
                font-size:25px;
            }
            .text{
                width:500px;
            }
        }
 
}
.boxes{
   
    margin-top: 100px;
    background-color: #047fdd;
    padding: 100px 0;
    h1{
        font-size: 40px;
    }
    h1,h4{
        text-align: center;
        margin-bottom: 30px;
        color:#FFF;
    }
  
    .container{
        display: flex;
        justify-content: center;
    }

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .card{
        background-color: white;
        border-radius: 1px;
        padding: 10px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px gray;
        margin: 0 20px;
        p{ 
            font-size:50px;
            color: $primary;

        }
        p:last-child {
            font-size:15px;
            color: black;
          }
}
}
}

.portfolio{
    text-align: center;
    h1{
        // text-align: center;
        margin: 60px;
        font-size: 40px;
    }

  
  /* Add padding BETWEEN each column */
  .row {
    gap: 10px;
    flex-wrap:wrap;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    // float: left;
    // width: 33.33%;
    margin-top: 100px;
    display: none;
     /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
//   .row:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
  
  /* Content */
  .content {
    width: 290px;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: flex;
    justify-content: center;
    
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    color:$secondary;
  }
  
  .btn:hover {
    background-color: $primary;
    color: white;
  }
  
  .btn.active {
    background-color: $primary;
    color: white;
  }
}
.partenaire{
    margin-top: 100px;
    text-align: center;
    background-color: #f6f6f6;
    padding: 70px 0;

    margin-bottom: 70px;
    h1{
       
        font-size: 40px;
    }
    .row {
        gap: 50px;
        flex-wrap:wrap;
      }
      .column{
        
          padding: 20px;
        &:hover {
            
            background: #fff;
            cursor: pointer;
        

            
          }
      }

}

.packs {
    text-align: center;
    h1{
        // text-align: center;
        margin: 60px;
        font-size: 40px;
    }
    .section-title {
      color: $secondary;
    }
    .row {
      gap: 0;
      flex-direction: column;
      align-items: center;
    }
    .tab {
      transition: 200ms ease-in-out;
      padding: 30px 50px;
      line-height: 0.8;
      display: inline-block;
      margin-left: -15px;
      border: none;
      border-radius: 6px 6px 0 0;
      position: relative;
      white-space: nowrap;
      cursor: pointer;
      background: #eef1f7;
      color: rgb(162, 157, 184);
  
      &.active {
        color: $primary;
        z-index: 1;
        background: white;
        transform: scale(1.2);
        filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.05));
      }
  
      h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }
  
    .tab-content {
      display: block;
      border-radius: inherit;
      padding: 50px 130px;
      box-shadow: 0 -15px 20px rgba(0, 0, 0, 0.03);
      border-radius: 10px;
      #tab-item-2 {
        display: block;
      }
      .tab-item {
        display: none;
      }
      .row {
        flex-direction: row;
        gap: 20px;
        .column {
          padding: 20px 60px;
          border-radius: 10px;
  
          &.selected {
            border: 3px solid $primary;
          }
        }
      }
    }
  
    .card {
      text-align: center;
      .card-header {
        margin: 20px 0;
        color: #464646;
        h5 {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 15px;
        }
        h3 {
          font-weight: 800;
          font-family: "Poppins", sans-serif;
          font-size: 54px;
        }
      }
  
      .card-body {
        margin-bottom: 120px;
  
        ul {
          margin: 30px 0;
  
          li {
            padding: 10px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid rgb(230, 230, 230);
            list-style: none;
          }
        }
      }
  
      .card-btn {
        a {
          font-size: 16px;
        }
      }
    }
  }

  
.customers {

    // position: relative;
    padding: 70px 50px;
    text-align: center;

    .btn1 {
      border: 2px solid $primary;
      padding: 5px;
      cursor: pointer;
      // border-radius: 30px;
      color: $primary;
      font-weight: 900;
    }
    
    .btn1:hover {
      color: white;
      background-color: $primary;
      transition: 0.2s ease-in-out;
    }
    
    .navigate {
      text-align: center;
      padding: 15px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    h1{
        // text-align: center;
        margin: 60px;
        font-size: 40px;
    }
    h3{
        color: $secondary;
        line-height: 1;
    }
    h4{
        color: #a8a8a8;
font-weight: 400;
    }
    p {
        margin-top: 20px;
    }
    .grp-msgs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: top 25px;
    }
    .box {
        background-color: white;
        border-radius: 1px;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 4px gray;
        width: 40%;
        margin: 0 20px;
    }
    
    
    .box-img {
        margin: 20px 0;
        width: 60px;
        position: relative;
        .img{
            width: 100%;
            border-radius: 30px;
            position: absolute;
            bottom: 25px;
            right: 0;
        }
    }

}

footer{
  background-color:$secondary;
  color: white;
  padding: 70px;

  li{
    list-style: none;
    h3{
      font-size:  25px;
      
      
    }
  }
  .inputs{
    margin: 10px 0 10px 0;
  }
  input{
    width: 500px;
    height: 60px;
    padding: 10px;
  }
  .btn{
    margin: 20px 0 0 0 ;
  }
  .row:last-child{
    gap: 35px;
  }
  hr{
    margin: 30px 0;
  }

}





